@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 14px;
}

.wrapper-login {
  background: linear-gradient(180deg, #f7941e 10%, rgba(33, 150, 243, 0) 30%);
}

.password-input-full > *, .password-input-full > * > input {
  width: 100%
}

.p-paginator-current {
  line-height: 1.5;
}